
.title-slide {

  * {
    color: #0083BE;
  }

  h1 {
    font-size: 100px;
    font-weight: bolder;
    line-height: 1.2em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
  }

  img {
    margin-top: 2em;
    margin-bottom: 1em;
  }

  p {
    margin-bottom: 0.5em;
  }
}

.overlay {
  background-color: rgba(255, 255, 255, 0.75);
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.overlay-b {
    background-color: rgba(0, 0, 0, 0.75);
    border: 2px solid rgba(0, 0, 0, 1);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(255, 255, 255, 0.1);
    color: #fff;
    padding: 20px;
}

.overlay ul,
.overlay-b ul,
.overlay ol,
.overlay-b ol {
  text-align: left;
}

blockquote {
  font-size: 2em;
  line-height: 1.5em;
  text-align: center;
}

div.cite {
  font-size: 0.6em;
  text-align: right;
}

.code {
  text-align: left;
  background-color: transparent;
}

.img-quote {
  background-color: rgba(255, 255, 255, 0.75);
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 5px;
  font-size: 10px;
  line-height: 1.2em;
}


#learning-curve {
  background-image: url("../images/stairs.jpg");
}

#rocket-science {
  background-image: url("../images/space-shuttle.jpg");
  .overlay-b {
    margin-top: 500px;
  }
}

div#enterprise {
  background-image: url("../images/aircraft-carrier.jpg");
}

div#school-bus {
  background-image: url("../images/schoolbus.jpg");
}

div#zen {
  background-image: url("../images/zen.jpg");
}

div#intergration-framework {
  background-image: url("../images/puzzle.jpg");
  .overlay-b {
    font-size: 56px;
    line-height: 1.5em;
    margin-top: 180px
  }
}

div#community {
  background-image: url("../images/2012_conference.jpeg");
  .overlay {
    margin-top: 140px;
    p {
      font-size: 1.6em;
      line-height: 1.2em;
    }
  }
}

div#diazo-printservice {
  background-image: url("../images/cloud-printing.png");

}

div#repeatable {
  background-image: url("../images/sisyphos.jpg");

}

div#diazo {
  text-align: center;
  h2 {
    font-size: 36px;

  }
}

div#turnaround blockquote {
  margin-top: 80px;
  margin-bottom: 30px;
  font-size: 3em;
  line-height: 2em;
}


div#lessons-learned {
  background-image: url("../images/lessons-learned.jpg");
}

div#user-matters {
  background-image: url("../images/users.jpg");
}

div#hard-way {
  background-image: url("../images/Wüste_ende_starsse.jpg");
}

div#master {
  background-image: url("../images/karate-kid.jpg");
}

div#let-it-fly {
  background-image: url("../images/liftoff.jpg");
}


div#market {
  background-image: url("../images/subway_Graphic_2015_1280px.jpg");

  .overlay {
    margin-top: 250px;
  }

}


div#garden {
  background-image: url("../images/cms-garden.jpg");
  img {
    margin-top: 110px;
  }
  .overlay-b {
    width: 350px;
    margin-top: 440px;
  }
}


div#success {
  background-image: url("../images/success.jpg");
  .overlay {
    margin-top: 200px;
  }
}