
.title-slide {

  * {
    color: #0083BE;
  }

  h1 {
    font-size: 100px;
    font-weight: bolder;
    line-height: 1.2em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
  }

  img {
    margin-top: 2em;
    margin-bottom: 1em;
  }

  p {
    margin-bottom: 0.5em;
  }
}

.subtitle-slide h1 {
  margin-top: 280px;
}

.overlay {
  background-color: rgba(255, 255, 255, 0.75);
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.overlay-b {
    background-color: rgba(0, 0, 0, 0.75);
    border: 2px solid rgba(0, 0, 0, 1);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(255, 255, 255, 0.1);
    color: #fff;
    padding: 20px;
}

.overlay ul,
.overlay-b ul,
.overlay ol,
.overlay-b ol {
  text-align: left;
}

blockquote {
  font-size: 2em;
  line-height: 1.5em;
  text-align: center;
}

div.cite {
  font-size: 0.6em;
  text-align: right;
}

.code {
  text-align: left;
  background-color: transparent;
}

.img-quote {
  background-color: rgba(255, 255, 255, 0.75);
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 5px;
  font-size: 10px;
  line-height: 1.2em;
}


div#zen {
  background-image: url("../images/zen.jpg");

  .overlay {
    margin-top: 220px;
  }
}


div#community {
  background-image: url("../images/2012_conference.jpeg");
  .overlay {
    margin-top: 140px;
    p {
      font-size: 1.6em;
      line-height: 1.2em;
    }
  }
}



div#hard-way {
  background-image: url("../images/Wüste_ende_starsse.jpg");

  h1 {
    color: #fff;
  }
}

div#master {
  background-image: url("../images/karate-kid.jpg");

  .overlay {
    margin-top: 350px;
    p {
      margin-bottom: 20px;
    }
  }
}

div#complex-systems {
  background-image: url("../images/Tokyo_by_night_2011.jpg");

  blockquote {
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(255, 255, 255, 0.1);
    color: #fff;
    padding: 20px;
    font-size: 36px;
    margin-top: 90px;
  }
  cite {
    color: #fff;
  }
}

div#market {
  background-image: url("../images/subway_Graphic_2016_1280px.jpg");
}

div#market-perspective {
  background-image: url("../images/2016-WCM-LOGO-LANDSCAPE.png");
}

div#garden {
  background-image: url("../images/cms-garden.jpg");
  img {
    margin-top: 110px;
  }
  .overlay-b {
    width: 350px;
    margin-top: 110px;
  }
}

div#scaling {
  background-image: url("../images/stars.jpg");

  .overlay-b p {
    margin-bottom: 20px;
  }
}

div#no-downtime {
  background-image: url("../images/24-7.jpg");

  .overlay-b {
    margin-top: 150px;
  }
}

div#fixing {
  background-image: url("../images/repair.jpg");

  .overlay {
    margin-top:350px;
  }
}

div#Confidentiality {
  background-image: url("../images/world-confidential.jpg");
  h1 {
    color: transparent;
  }
}

div#Integrity {
  background-image: url("../images/integrity.jpg");

  h1 {
    margin-top: 400px;
    margin-right: 300px;

  }
}


div#caching {
  background-image: url("../images/queue_up.jpg");

  blockquote {
    font-size: 1em;
    line-height: 1.2em;
  }
}

div#banning {
  background-image: url("../images/festnahme.jpg");

  .overlay {
    margin-top: 450px;
  }
}

div#numbers3 {
  .rotated-warning {
    position: absolute;
    top: 350px;
    left: 45px;
    font-size: 180%;
  }

  .info {
    position: absolute;
    bottom: 40px;
    left: 60px;
    width: 360px;
  }
}


div#recomendations {
  background-image: url("../images/conclusions-recommendations.jpg");
}



div#asis {
  background-image: url("../images/box.png");
    .overlay-b {
    margin-top: 500px;
  }
}


div#min {
  background-image: url("../images/15min.jpg");
}

div#survey {
  background-image: url("../images/Survey-App-Reminder-Slide.png");
    .overlay {
    margin-top: 500px;
  }
}

div.slide .timed {
  opacity: 0;
}

div.slide.active .timed {
    opacity: 1;
    transition: opacity 5s ease 5s;
}

.rotated-warning {

  /* Safari */
  -webkit-transform: rotate(-45deg);

  /* Firefox */
  -moz-transform: rotate(-45deg);

  /* IE */
  -ms-transform: rotate(-45deg);

  /* Opera */
  -o-transform: rotate(-45deg);

  color: #FF0000;
}
