
.title-slide {

  * {
    color: #0083BE;
  }

  h1 {
    font-size: 80px;
    font-weight: bolder;
    line-height: 1.2em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
  }
  h2 {
    text-align: center;
    font-size: 60px;
    margin-bottom: 60px;
  }

  p {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    font-size: 32px;
  }

  .title p {
    position: absolute;
    top: 150px;
    left: 425px;
    font-size: 72px;
  }

  img {
    margin-top: 3em;
    margin-bottom: 1em;
    margin-left: 15px;
    display: inline-block;
  }
}

.subtitle-slide h1 {
  margin-top: 280px;
}

.overlay {
  background-color: rgba(255, 255, 255, 0.75);
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.overlay-b {
  background-color: rgba(0, 0, 0, 0.75);
  border: 2px solid rgba(0, 0, 0, 1);
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(255, 255, 255, 0.1);
  color: #fff;
  padding: 20px;
}

.overlay strong,
.overlay em,
.overlay-b strong,
.overlay-b em {
  display: block;
}

.overlay ul,
.overlay-b ul,
.overlay ol,
.overlay-b ol {
  text-align: left;
}

blockquote {
  font-size: 2em;
  line-height: 1.5em;
  text-align: center;
}

div.cite {
  font-size: 0.6em;
  text-align: right;
}

.code {
  text-align: left;
  background-color: transparent;
}

.img-quote {
  background-color: rgba(255, 255, 255, 0.75);
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 5px;
  font-size: 10px;
  line-height: 1.2em;
}

.red {
  color: #fd0000;
}

.green {
  color: #00fd00;
}

// Section History

div#history {
  h1 {
    margin-top: 260px;
    font-size: 90px;
  }
}

div#python {
  background-image: url("../images/flying_circus.jpg");
  div.overlay {
    margin-top: 385px;
  }
}

div#bobo {
  background-image: url("../images/flight-seat.jpg");
  div.overlay {
    height: 265px;
    margin-top: 150px;
    strong {
      margin-top: 50px;
      margin-bottom: 100px;
      font-size: 72px;
    }
  }
}

div#zope,
div#zope2 {
  img {
    margin-top: 200px;
    margin-bottom: 100px;
  }
}

div#ILU {
  background-image: url("../images/www.w3.org_OOP_9606_Workshop_.png");
  background-color: #ffffff;
  background-size: 70% 70%;
  div.overlay {
    p:nth-of-type(1) {
      font-size: 36px;
      line-height: 1.2em;
      text-align: center;
      margin-bottom: 30px;
    }
    p:nth-of-type(3) {
      margin-top: 30px;
    }
    p:nth-of-type(4) {
      font-size: 26px;
    }
    ul {
      margin-bottom: 50px;
      font-size: 26px;
    }
  }
}

div#floppy {
  img {
    margin-top: 20px;
  }
}

div#zope-corp {
  background-image: url("../images/zope-corp.jpg");
  div.overlay {
    margin-top: 160px;
    p:nth-of-type(1) {
      font-size: 36px;
      line-height: 1.2em;
      text-align: center;
      margin-bottom: 30px;

      em {
        font-size: 20px;
      }
    }
    li {
      font-size: 20px;
      line-height: 1.1em;
    }
  }
}

div#zope-corp2 {
  background-image: url("../images/philip/presentation_guido_python_regrets.png");
}

div#irc {
  img {
    margin-top: 50px;
  }
  div.centered {
    padding-top: 30px;
    clear: both;
    em {
      margin-right: 120px;
      margin-left: 120px;
      font-size: 40px;
    }
  }
}

div#plone {
  img {
    margin-top: 230px;
    margin-bottom: 60px;
  }
}

div#birthday {
  background-image: url("../images/plone-birthday-15.jpg");
  .overlay {
    margin-left: 200px;
    margin-right: 200px;
    padding: 2px;
  }
}


// Second part What is Plone

div#technology,
div#what-community{
  h1 {
    margin-top: 280px;
    font-size: 60px;
  }
}


div#not-framework {
  background-image: url("../images/Framework.jpg");
  .overlay-b {
    font-size: 48px;
    margin-top: 260px;
    line-height: 1.2em;
  }
}


div#cms {
  background-image: url("../images/Katalog_Karteikarten.jpg");
  .overlay {
    strong {
      font-size: 90px;
      margin-top: 20px;
      margin-bottom: 50px;
    }
    em {
      display: inline;
      ::first-letter {
        font-weight: bold;
        font-size: 120%;
      }
    }
  }
}

div#adaptation {
  background-image: url("../images/Oscar_Pistorius.jpg");
  .overlay-b {
    font-size: 40px;
    margin-top: 80px;
    line-height: 1.2em;

    strong {
      font-size: 60px;
      margin-top: 30px;
      margin-bottom: 30px;
    }

    em {
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      margin-bottom: 30px;
    }
  }
}


div#classic-theme {
  background-image: url("../images/classic-theme.png");
}

div#classic-theme-edit {
  background-image: url("../images/classic-theme-edit.png");
}

div#sunburst-theme {
  background-image: url("../images/sunburst-theme.png");
}

div#barceloneta-theme {
  background-image: url("../images/barceloneta-theme.png");
}

div#barceloneta-theme-dexterity {
  background-image: url("../images/barceloneta-theme-dexterity.png");
}

div#barceloneta-theme-ttw-diazo {
  background-image: url("../images/barceloneta-theme-ttw-diazo.png");
}

div#barceloneta-theme-folder-contents {
  background-image: url("../images/barceloneta-theme-folder-contents.png");
}

// Second Section What is Plone and waht makes it so awesome

div#what {
  h1 {
    margin-top: 50px;
    font-size: 115px;
  }
  h2 {
    margin-top: 50px;
    text-align: center;
    font-size: 60px;
  }
}


div#traversal-1 {
  h1 {
    margin-top: 260px;
    margin-bottom: 80px;
  }
  div.centered {
    font-size: 80px;
  }
}

div#traversal-explained-3 {
  pre {
    text-align: center;
    padding: 50px;
    margin-top: 260px;
    font-size: 26px;
  }
}

div#start-of-plone {
  .centered {
    padding-top: 30px;
    em, strong {
      font-size: 60px;
      line-height: 1.2em;
    }
  }
}

div#sprint {
  background-image: url("../images/castle-sprint-2003.jpg");
  strong {
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

div#first-board {
  p {
    margin-bottom: 10px;
  }
  h2 {
    text-align: center;
  }
}


div#out-of-men {
  background-image: url("../images/Laurence_Rowe.png");
  .overlay {
    margin-top: 490px;
    blockquote {
      margin: 0;
      line-height: 1.2em;
      font-size: 34px;
    }
  }
}

div#bdfl {
  background-image: url("../images/limi+runyan.jpg");
  .overlay {
    margin-top: -10px;
  }
}

div#board {
  background-image: url("../images/board2016.jpeg");
}

div#community {
  background-image: url("../images/2016_conference.jpg");
}
div#spirit1 {
  background-image: url("../images/2012_conference.jpeg");
  .overlay {
    margin-top: 150px;
    blockquote {
      margin: 0;
      line-height: 1.2em;
    }
  }
}

div#spirit2 {
  background-image: url("../images/brasil-dinner.jpg");
}

div#rockstars {
  background-image: url("../images/rockstar.jpg");
  .overlay {
    margin-top: 550px;
  }
}

div#conferences {
  text-align: center;
  img {
    display: inline-block;
    margin: 2px;
  }
  .overlay {
    margin-top: -390px;
    strong {
      font-size: 60px;
      line-height: 1em;
    }
  }
}


div#success {
  background-image: url("../images/success.jpg");
  .overlay {
    margin-top: 300px;
  }
}



// Story about beeing Boring

div#hip {
  p {
    text-align: center;
    font-size: 60px;
    margin-top: 280px;
  }
}

div#boring1 {
  p {
    margin-top: 300px;
    text-align: center;
    font-size: 90px;
  }
}

div#boring2 {
  ul {
    margin-top: 120px;
    margin-left: 180px;
  }
}

div#boring3 {
  background-image: url("../images/boring.jpg");
  blockquote {
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(255, 255, 255, 0.1);
    color: #fff;
    padding: 20px;
    font-size: 54px;
    margin-top: 350px;
      margin-bottom: 10px;
  }
  cite {
    color: #fff;
  }
}


div#boring4 {
  background-image: url("../images/not-equal.png");
  background-color: #ffffff;
  background-size: 400px 400px;
  p {
    text-align: center;
    font-size: 38px;
    margin-top: 290px;
  };
}

div#boring5 {
  background-image: url("../images/checklist.jpg");
  background-color: #ffffff;
  p {
    font-size: 38px;
  };
}

div#boring6 {
  background-image: url("../images/Bills-to-Pay.jpg");
  background-color: #ffffff;
  .overlay {
    font-size: 38px;
    margin-top: 260px;
    strong {
      display: inline-block;
    }
  };
}

div#boring-question {
  background-image: url("../images/question-mark-gold.png");
  background-color: #ffffff;
  background-size: 400px 600px;

  div.overlay {
    margin-top: 250px;
  }
}


div#boring-answer {
  background-image: url("../images/cruise-ship.jpg");
  .overlay {
    margin-top: 450px;
  }
}
div#innovations,
div#innovations2{
  background-image: url("../images/Innovation-Adoption-Lifecycle.jpg");
  background-color: #ffffff;
  background-size: 900px 500px;
  div.overlay-b {
    margin-top: 250px;
  }
}



div#step-learning-curve {
  background-image: url("../images/stairs.jpg");
  strong {
    margin-bottom: 30px;
  }
}

div#hard {
  background-image: url("../images/mud.jpg");
}


div#old-style {
  table {
    td {
      padding-left: 20px;
      padding-right: 20px;
    }
    text-align: center;
    width: 100%;
  }
}

div#master {
  background-image: url("../images/karate-kid.jpg");

  .overlay {
    margin-top: 350px;
    p {
      margin-bottom: 20px;
    }
  }
}

div#intergration-framework {
  background-image: url("../images/puzzle_krypt.jpg");
  .overlay-b {
    font-size: 56px;
    line-height: 1.5em;
    margin-top: 20px
  }
  img {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
}

div#zen {
  background-image: url("../images/zen.jpg");

  .overlay {
    margin-top: 220px;
  }
}


div#diazo {
  text-align: center;
  h2 {
    font-size: 36px;
  }
  ul li {
    text-align: left;
    margin-bottom: 20px;
  }
}

div#complex-systems {
  background-image: url("../images/Tokyo_by_night_2011.jpg");

  blockquote {
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(255, 255, 255, 0.1);
    color: #fff;
    padding: 20px;
    font-size: 36px;
    margin-top: 90px;
  }
  cite {
    color: #fff;
  }
}





div.slide .timed,
div.slide .timed1,
div.slide .timed3,
div.slide .timed5,
div.slide .timed10 {
  opacity: 0;
}

div.slide.active .timed1 {
    opacity: 1;
    transition: opacity 1s ease 1s;
}

div.slide.active .timed3 {
    opacity: 1;
    transition: opacity 3s ease 3s;
}

div.slide.active .timed5 {
    opacity: 1;
    transition: opacity 5s ease 5s;
}

div.slide.active .timed10 {
    opacity: 1;
    transition: opacity 10s ease 10s;
}
