
div.title-text-slide h1 {
  font-size: 100px;
  line-height: 1.2em;
  margin-top: 200px;
}

div#pyMucTitle {
  .top {
    margin-bottom: 60px;
  }
  .bottom {
    margin-top: 200px;
  }
}

div#devops {
  h1 {
    font-size: 160px;
    line-height: 1.2em;
    margin-top: 150px;
  }

  p.centered {
    font-style: italic;
  }
}

div#title img.ansible-logo {
  margin-top: 100px;
  margin-bottom: 70px;
}


