
.title-slide {

  * {
    color: #006633;
  }

  h1 {
    font-size: 90px;
    font-weight: bolder;
    line-height: 1.5em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
  }

  img {
    margin-top: 2em;
    margin-bottom: 1em;
  }

  p {
    margin-bottom: 0.5em;
  }
}