.lmu-slide.lmu-title-slide {
  background-image: url('../images/LMU-inet-titlepage-background.png');

  font-family: "LMU CompatilFact", "Arial", Helvetica, sans-serif;

  h1.title,
  h1,
  p.title {
    position: absolute;
    top: 300px;
    left: 100px;
    right: 100px;
    font-size: 160%;
    color: $lmu-green;
    text-align: left;
  }
  h1.subtitle,
  h2,
  p.subtitle {
    position: absolute;
    top: 450px;
    left: 100px;
    right: 100px;
    color: $lmu-green;
    line-height: 1.1em;
    text-align: left;
  }

  h1.referent,
  h3,
  p.referent {
    position: absolute;
    top: 200px;
    left: 100px;
    right: 100px;
    font-size: 80%;
    color: $lmu-gray;
    text-align: left;
  }
}

.lmu-slide {
  background-image: url('../images/LMU-inet-background.png');
  background-size: 900px 700px;
  background-color: transparent;
  padding-top: 160px;

  font-family: "LMU CompatilFact", "Arial", Helvetica, sans-serif;

  h1.slide-title,
  p.slide-title {
    position: absolute;
    top: 18px;
    left: 216px;
    font-size: 16px !important;
    line-height: 1em;
    color: $lmu-green;
    padding: 5px;
    height: 80px;
    width: 520px;

    span {
      display: block;
      position: absolute;
    }

    span.line1 {
      bottom: 2px;
    }
    span.line2 {
      bottom: 18px;
    }
    span.line3 {
      bottom: 34px;
    }
    span.line4 {
      bottom: 50px;
    }
    span.line5 {
      bottom: 66px;
    }
  }
}
